header
  h1
    img(src='images/tit/tit_logo.png' alt='CATCH UP 로고')
  a(class='skip' href=''): img(src='images/btn/btn_skip.png' alt='SKIP 버튼')
  p
  .menu
    a(class='works' href='') WORKS
    a(class='about' href='') ABOUT
  .btn
    a(class='facebook' href=''): img(src='images/btn/btn_facebook.png' alt='페이스북 버튼')
    a(class='email' href=''): img(src='images/btn/btn_mail.png' alt='이메일 버튼')
  