.container
  header
    - if( pageInfo === 'intro' ) {
      h1: img(src='/images/tit/tit_logo.png' alt='Catch-Up 로고')
      img(class='skip' src='/images/btn/btn_skip.png' alt='SKIP 버튼')
      img(class='skip_red' src='/images/btn/btn_skip2.png' alt='SKIP 버튼')
    - }
    
    - else if( pageInfo === 'main' || pageInfo === 'about' ) {
      h1: img(src='/images/tit/tit_logo.png' alt='Catch-Up 로고')
      span(class='menu')
        a(class='works') WORKS
        a(class='about') ABOUT
    - }
    
    - else if( pageInfo === 'login' ) {
      h1: img(src='/images/tit/admin-logo.png' alt='Catch-Up Admin 로고')
    - }
    
    - else if( pageInfo === 'admin' ) {
      h1: img(src='/images/tit/admin-logo.png' alt='Catch-Up Admin 로고')
      img(class='homepage', src='/images/btn/btn_homepage.png')
      img(class='logout', src='/images/btn/btn_logout.png')
    - }