header(#header_first)
  h1
    img(src='/images/tit/tit_logo.png' alt='Catch-Up 로고')
  img(class='skip' src='/images/btn/btn_skip.png' alt='SKIP 버튼')
  span(class='menu')
    a(href='') WORKS
    a(href='') ABOUT