.login {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}

.login p.login-message {
  position: relative;
}

.login p.login-failed-message {
  position: relative;
  color: #dc1e26;;
}

.login input.login-input {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 305px;
  height: 40px;
  border-color: #dddddd;
  font-size: 20px;
}

.login a.login-enter {
  position: relative;
  top: 50px;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  background-color: #dc1e26;
}