* {
  ;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
}

/* Header CSS */
#header-container {
  position: relative;
  width: 100%;
  height: 100px;
}

header {
  position: relative;
}

header h1 {
  position:absolute;
  left:190px;
  top:9px;
}

header .skip {
  display:none;       /*skip 버튼 감춤*/
  position:absolute;
  right:190px;
  top:12px;
}


header .skip:hover {
  content:url(../images/btn/btn_skip2.png) no-repeat;
}

header p {
  border:1px solid #ddd;
  position:relative;
  top:110px;
}

header .menu, header .btn {
  text-align:right;
}

header .menu {
  position:relative;
  top:35px;
  right:370px;
}

header .menu .about {
  margin-left:42px;
}

header .menu .about, header .menu .works {
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  color:#222;
}

header .menu .about:hover, header .menu .works:hover {
  color:#dc1e26;
}

header .btn {
  margin-right:190px;
}

header .btn a {
  margin-left:6px;
}

header .btn .facebook:hover {
   content:url(../images/btn/btn_facebook2.png) no-repeat;
}

header .btn .email:hover {
  content:url(../images/btn/btn_mail2.png) no-repeat;
}

/* Content CSS */
#main-container {
  position: relative;
  width:100%;
}


/* Footer CSS */
#footer-container {
  position: relative;
  width:100%;
}

footer {
  clear:both;
  position: relative;
  top:-3px;
  border-top:1px solid #ddd;
}

footer .text {
  position:absolute;
  left:190px;
  top:30px;
  padding-bottom:29px;
  font:14px/19px "NeoSansPro";
}

footer span {
  display:none;
}

/* intro */
.intro {
  margin-top:11px;
  margin-right:190px;
}
 
.main {
  margin-top:12px;
}

.main article a {
  width: 22%;
  height: 100%;
}

.main article a img {
  width:22%;
  height:100%;
  float:left;
  margin:0 4px 4px 0;
}

.main article .clear img {
  clear:both;
}









/* about */
section {
  position:relative;
  margin-left:190px;
}
section .about {
  margin:30px 0 0 0;
  font-size:14px;
}

section .logo {
  margin: 40px 0 0 0;
}
section .pronunciation {
  position:relative;
  left:15px;
  top:-15px;
  font-size:22px;
  font-weight:bold;
  color:#444;
}

section .definition {
  font-size:22px;
}

section .meaning {
  font-size:18px;
}
/*section .definition, section .meaning {
  margin-left:190px;
}*/

section .definition strong, section .definition span {
  color:#dc2026;
}

section .meaning strong, section .meaning span {
  position:relative;
  top:-10px;
  color:#444;
}

section .cont_wrap {
/*  margin-left:190px;*/
  font-size:12px;
  line-height:22px;
}

section .cont_wrap p {
  width:22px;
  border-top:4px solid #dc2026;
}

section .cont_wrap .content1{
  margin:39px 0;
}

section .location h2 {
  margin:60px 0 0 0;
  font-size:14px;

}

section .location .map {
  margin:20px 0 0 0;
  width:;
}

section .location .information {
  margin:19px 0 95px 0;
  font-size:12px;
  line-height:22px;
}



@media screen and (max-width:1112px){
  section .location .map { width:90%; height:100%;}
}

@media screen and (max-width:1030px){
  header .menu { right:230px;}
  header .btn { margin-right:50px;}
}


@media screen and (max-width:768px){
  
  /* Header */
  header h1 { left:46px; top:8px;}
  /*header .skip { right:46px; top:15px;}*/ /* skip 버튼 위치 조정*/
  header .menu { right:47px;}
  header .btn { display:none;}



  /* Footer */
  footer .text { left:46px; font-size:14px; line-height:20px;}
  footer .text address { width:65%;}
  footer span { display:block; position:absolute; right:46px; top:40px;}
  footer span .facebook img { margin-right:6px;}
  footer span .facebook:hover { margin-right:6px; content:url(../images/btn/btn_facebook2.png) no-repeat;}
  footer span .email:hover { content:url(../images/btn/btn_mail2.png) no-repeat;}

/* Intro */
.bg { background:url(../images/bg/bg_background.png) no-repeat;}
.bg .intro { margin:35% 0;}
  /* About */
  section { margin:0 46px;}
  section .about { font-size:24px;}
  section .pronunciation { font-size:30px;}
  section .definition { font-size:30px;}
  section .meaning { font-size:24px;}
  section .content1,section .content2, section .location .information { font-size:16px; line-height:26px;}
  section .location .map { width:98%;}
}



