@font-face {
  font-family: 'NanumBarunGothic';
  src: url('../fonts/NanumBarunGothic.ttf')  format('truetype');
  src: url('../fonts/NanumBarunGothic.eot')
}

@font-face {
  font-family: 'Neo Sans Pro';
  src: url('../fonts/Neo Sans Pro.ttf')  format('truetype');
  src: url('../fonts/Neo Sans Pro.eot');
}

* {
  font-family: 'NanumBarunGothic';
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  width:100%;
}

/* Header CSS */
#header-container {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height: 103px;
  background:url(../images/bg/bg_shadow.png) repeat;
  z-index:900;
}

.container {
  position:relative;
  margin:0 auto;
  max-width:900px;
}

header {
  position:relative;
  height:100%;
}

header h1 {
  padding:20px 0 0 0;
}

header .skip {
  position:absolute;
  right:0;
  top:0;
  cursor:pointer;
}

header .skip:hover {
  opacity:0;
}

header .skip_red {
  position:absolute;
  right:0;
  top:0;
  cursor:pointer;
  opacity:0;
}

header .skip_red:hover {
  opacity:1;
}

header .menu {
  position:absolute;
  right:22px;
  top:40px;
  font-size:14px;
  font-weight:bold;
}

header .menu a {
  color:#444;
  text-decoration:none;
  cursor:pointer;
}

header .menu a:first-child {
  margin-right:42px;
}

header .menu a:hover {
  color:#dc1e26;
}


/* Intro page */
.page-intro section article {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.page-intro section article .intro {
  position: relative;
  top: -140px;
  width:100%;
  height:1000px;
  z-index: 10;
}

.page-intro section article .white-wrapper-left {
  top: 0;
  left: 0;
  position: absolute;
  width: 200px;
  height: 100%;
  background: white;
  z-index: 800;
}

.page-intro section article .white-wrapper-right {
  top: 0;
  right: 0;
  position: absolute;
  width: 200px;
  height: 100%;
  background: white;
  z-index: 800;
}


/* Content CSS */
#main-container {
  position: relative;
  margin:0 auto;
  padding-top:107px;
}

section article {
  position:relative;
}
section article ul {
  margin:4px 0 15px -38px;
  list-style-type:none;
}

section article ul li {
  display:inline-block;
  position: relative;
  margin:-1px 2px;
  width: 24%;
}

section article ul li .content {
  width: 100%;
  height: 159px;
}

section article ul li .play .btn_play {
  position:absolute;
  left:40%;
  top:35%;
  opacity:0;
}

section article ul li .bu_blind {
  position:absolute;
  width:100%;
  height:159px;
  opacity:0;
  cursor:pointer;
}

section article ul li .bu_blind:hover {
  opacity:0.7;
}

/* popup part  */

.blurred {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity:0.8;
  z-index:1000;
}

.popup {
  display:none;
  position:absolute;
  top:80px;
  width:100%;
  margin:0 auto;
  z-index:1100;
}

.popup img.before {
  position:absolute;
  top:50%;
  left:0;
  text-align:left;
  cursor:pointer;
  opacity:1;
}

.popup img.before:hover {
  opacity:0;
}



.popup img.before2 {
  position:absolute;
  top:49.5%;
  left:-2px;
  text-align:left;
  cursor:pointer;
  opacity:0;
}

.popup img.before2:hover {
  opacity:1;
}


.popup img.after {
  position:absolute;
  top:50%;
  right:0;
  cursor:pointer;
  opacity:1;
}

.popup img.after:hover {
  opacity:0;
}

.popup img.after2 {
  position:absolute;
  top:49.5%;
  right:-3px;
  cursor:pointer;
  opacity:0;
}

.popup img.after2:hover {
  opacity:1;
}

.popup .frame {
  margin:0 auto;
  max-width:650px;
}

.popup .top {
  background:#fff;
  position:relative;
  height:100px;
}

.popup .top h2 {
  position:absolute;
  left:35px;
  top:25px;
  font-size:16px;
  color:#dc1e26;
}

.popup .frame p {
  position:absolute;
  right:90px;
  top:27px;
  font-size:14px;
  font-weight:bold;
  color:#666;
  z-index:3000;
}

.popup .top img.close {
  position:absolute;
  right:30px;
  top:39px;
  cursor:pointer;
}

.popup .top img.close:hover {
  opacity:0;
}

.popup .top img.close2 {
  position:absolute;
  right:30px;
  top:39px;
  cursor:pointer;
  opacity:0;
}

.popup .top img.close2:hover {
  opacity:1;
}

.popup .frame iframe {
  width:100%;
  height:100%;
  height:400px;
  border:0;
}

section .content1 h2 {
  margin:24px 0 28px 0;
  font-size:14px;
}

section .content1 img {
  margin-bottom:10px;
}
section .content1 span {
  position:relative;
  left:10px;
  top:-23px;
  font-size:22px;
  font-weight:bold;
}

section .content1 .eng {
  font-size:22px;
  color:#dc2026;
}

section .content1 .ko {
  position:relative;
  top:-15px;
  font-size:18px;
  color:#444;
}

section .line {
  margin:40px 0;
  width:22px;
  border:4px solid #dc2026;
}
section .content2 p {
  font-size:12px;
  line-height:22px;
}
section .content2 p + p {
  margin:50px 0 70px 0;
}
section .content3 h2 {
  margin-bottom:30px;
  font-size:14px;
}

section .content3 p {
  font-size:12px;
  line-height:22px;
}

section .content3 p + p + p {
  margin-bottom:95px;
}


/* Footer CSS */
#footer-container {
  position: relative;
  border-top:1px solid #ddd;
}

footer {
  position:relative;
  top:-3px;
  margin:0 auto;
  height:90px;
  font-family: 'Neo Sans Pro';
  font-weight:bold;
  color:#444444;
}

footer small {
  position:absolute;
  top:20px;
  font-size:13px;
}

footer address {
  position:absolute;
  top:48px;
  font-size:11px;
  font-style:normal;
}



@media screen and (max-width:1322px){
  .page-intro section article .white-wrapper-left,
  .page-intro section article .white-wrapper-right { width:50px;}
}

@media screen and (max-width:1295px){
  .page-intro section article { height:600px;}
  .page-intro section article iframe.intro { top:-200px;}
}

@media screen and (max-width:1000px){
  .page-intro section article .white-wrapper-left,
  .page-intro section article .white-wrapper-right { width:0px;}
}

@media screen and (max-width:1065px){
  .page-intro section article { height:550px;}
  .page-intro section article iframe.intro { top:-220px;} 
}

@media screen and (max-width:995px){
  .page-intro section article { height:480px;}
  .page-intro section article iframe.intro { top:-280px;} 
}

@media screen and (max-width:920px){
  .page-intro section article iframe.intro { top:-250px;} 
}

@media screen and (max-width:880px){
  .page-intro section article { height:450px;}
  .page-intro section article iframe.intro { top:-280px;} 
}

@media screen and (max-width:800px){
  .page-intro section article { height:430px;}
  .page-intro section article iframe.intro { top:-290px;} 
}

@media screen and (max-width:768px){
  .page-intro section article { height:410px;}
  .page-intro section article iframe.intro { top:-400px;} 
}

@media screen and (max-width:680px){
  .page-intro section article { height:300px;}
  .page-intro section article iframe.intro { top:-450px;} 
}

@media screen and (max-width:580px){
  .page-intro section article { height:250px;}
}

@media screen and (max-width:460px){
  .page-intro section article { height:180px;}
  .page-intro section article iframe.intro { top:-455px;}
}

@media screen and (min-width:901px){
  .popup .frame { position:fixed; left:0; right:0; top:190px;}
  .popup img.before { left:-100px;}
  .popup img.before2 { left:-101px;}
  .popup img.after { right:-100px;}
  .popup img.after2 { right:-101px;} 
}

@media screen and (max-width:900px){
  .popup .frame { position:fixed; left:0; right:0;top:190px;}
}

@media screen and (min-width:840px) and (max-width:900px){
  .popup .frame { position:fixed; left:0; right:0; top:190px;}
  .popup img.before { left:-100px;}
  .popup img.before2 { left:-101px;}
  .popup img.after { right:-100px;}
  .popup img.after2 { right:-101px;} 
}



@media screen and (min-width:320px) and (max-width:479px){
  section article ul { margin:4px 3px 15px -35px;}
  /*.popup .frame { position:fixed; top:0; left:0; right:0; margin-top:-50px;}*/
}

@media screen and (min-width:320px) and (max-width:500px){
  section article ul li .content,
  section article ul li .bu_blind { height: 90px;}
}

@media screen and (min-width:320px) and (max-width:550px){
  .popup .frame iframe { height:251px;}
  .popup img.before { top:390px;}
  .popup img.before2 { top:388px; left:-3px;}
  .popup img.after { top:390px;}
  .popup img.after2 { top:388px; right:-3px;}
  .popup .frame p { position:absolute; top:100%; left:43%;}
}

@media screen and (max-width:500px){
  #header-container { height: 61px; background-position-y:60px;}
  header h1 { padding:0;}
  header .skip, header .skip_red { top:0px;}
  header .menu { top:12px; font-size:12px;} 
  section .content1 img { width:50%;}
  section .content1 span { font-size:18px;}
  .popup .top h2 { font-size:14px;}
  .popup .top img.close, .popup .top img.close2 { top:20px;}

  #main-container { padding-top:61px;}
}


@media screen and (min-width:480px) and (max-width:768px){
  section article ul { margin:4px 1px 15px -28px;}
}


@media screen and (min-width:551px) and (max-width:850px){
  .popup .frame iframe { height:350px;}
  .popup img.before { top:390px;}
  .popup img.before2 { top:388px; }
  .popup img.after { top:390px;}
  .popup img.after2 { top:388px;}
  .popup .frame p { position:absolute; top:99.5%; left:47%;}
}

@media screen and (max-width:716px){
  /*.popup { top:-35px;}*/
  .popup .frame { width:90%;}
}

@media screen and (max-width:768px){
  header h1 { margin-left:5%;}
  header .skip, header .skip_red { margin-right:5%;}
  header h1 img { width:30%;}
  header .skip, header .skip_red { width:10%; top:0px;}
  header .menu { margin-right:2%; font-size:;}
  section article .intro { margin:15% 0; height:25%;}
  
  .cont_wrap { margin:0 5%;}
  section .content1 .eng { font-size:16px;}
  section .content1 .ko { font-size:14px;}

  section article ul li { width:32%;}


  footer small, footer address { margin:0 5%; font-size:12px;}
  }

@media screen and (max-width:500px){
  header .skip, header .skip_red { top:-15px;}
}

@media screen and (max-width:450px){
  header .skip, header .skip_red { top:-5px;}
}

@media screen and (max-width:850px){
  .popup .top { height:80px;}
  .popup .top h2 { left:20px; top:20px;}
  .popup .top p { right:70px; top:20px;}
  .popup .top img.close, .popup .top img.close2  { right:25px; top:30px;}
  
}

@media screen and (min-height:320px) and (max-height:1000px) and (max-width:850px){
  .popup img.before { top:95%;}
  .popup img.before2 { top:94.5%;}
  .popup img.after { top:95%;}
  .popup img.after2 { top:94.5%;}
/*  .popup .frame .top p { position:fixed; top:84.5%; left:-59px;} */
}

@media screen and (min-height:641px){
  /*.popup .frame .top p { position:fixed; top:80%; left:-59px;} */
}

