extends ../layout

block content
  link(rel='stylesheet', href='css/admin.css')
  
  .upload
    h3 UPLOAD
    
    .upload-cell
      label.title-label TITLE
      input.title-input(type='text', name='title', id='title')
    
    .upload-cell
      label.url-label URL
      input.url-input(type='text', name='url', id='url')
      a.url-load LOADING
      
    .upload-cell
      img.upload-thumbnail(src='http://img.youtube.com/vi/qswqqi1EKQc/0.jpg')
      img.upload-thumbnail(src='http://img.youtube.com/vi/qswqqi1EKQc/1.jpg')
      img.upload-thumbnail(src='http://img.youtube.com/vi/qswqqi1EKQc/2.jpg')
      img.upload-thumbnail(src='http://img.youtube.com/vi/qswqqi1EKQc/3.jpg')
    
    .upload-cell
      p 대표 프레임을 선택하시고 UPLOAD 버튼을 누르시면 영상이 업로드됩니다.
      a.upload UPLOAD
      
  .list
    h3 LIST
    
    
    
    
    
    
