extends ../layout

block content
  link(rel='stylesheet', href='css/admin.css')
  
  .admin
    h1 컨텐츠 관리
    
    .form
      .property
        label(for='url') Youtube 동영상 URL
        input(type='text', name='url', id='url')
      
      .property
        label(for='title') 동영상 제목
        input(type='text', name='title', id='title')
        
      .property-thumbnail
        label(for='thumbnail') 동영상 썸네일
        img.vid-thumb(src='images/no-thumbnail.jpg')
        input(type='hidden', name='thumbnail', id='thumbnail')
      
      input(type='hidden', name='vid', id='vid')
      
      a.add-video 추가
    
    ul.video-list(class='sortable list')
      - videoData.forEach(function(data) {
        li.video-list-cell(draggable='true')
          img(src='http://img.youtube.com/vi/jo_B4LTHi3I/0.jpg')
          p #{data.src}
      - });
    
    
    a.save-list 저장
    
