extends ../layout

block content
  .page-intro
    section
      article(class='upline')
        //- iframe(id='intro' class='intro' vid='#{showreel.vid}' alt='' type='application/x-shockwave-falsh' frameborder='0')    
        #player(class='intro' vid='#{showreel.vid}') 
        .white-wrapper-left
        .white-wrapper-right
        