extends ../layout

block content
  .page-intro
    section
      article(class='upline')
        #player(class='intro' vid='#{showreel.vid}') 
        .white-wrapper-top
        .white-wrapper-bottom
        