extends ../views/layout

block content
  h1 Admin page
  
  a(id='videoButton' style='background:green; color:white') 비디오 추가
  //- input
  
  ul.video-list
  - videoData.forEach(function(data) {
    li.video-list-cell
      img(src='#{data.thumbnail}')
      p #{data.src}
  - });