extends ../layout

block content
  section
    h2(class='about') ABOUT
    img(class='logo' src='images/tit/tit_logo2.png')
    span(class='pronunciation') [kǽtʃəp]
    p(class='definition')
      strong [Job, Advertising] 
      span to be Well-Finished.
    p(class='meaning')
      strong :[일,광고]
      span 를 마무리하다
    p(class='definition')
      strong [New Trends, Information] 
      span be with Well-Versed.
    p(class='meaning')
     strong :[유행.정보 따위]
     span 에 정통하다
    article(class='cont_wrap')
      p
      .content1
        | Catch*up Production is Quality Producing Production;
        br
        | mainly focus at New Media Contents and TV-CM to provide Creative source and best producing.
        br
        | Catch*up Production is  Professional Pozwer Producing Production; We create Idea based on our great strategy
        br
        | and good concept, therefore we responsible for all the tough problems that we encountered
        br
        | while we doing our job and we always lead the competitions with our best outcome with in detail.
        br
        | Catch*up Production is always looking for the consumers concerns to gather their core-insights
        br
        | and reflect to our creative work.
      .content2
        | 캐치업 프로덕션은 뉴미디어 컨텐츠와 TV-CM위주로
        br
        | 크리에이티브 소스를 제공하고 제작하는 퀄리티 프로듀싱 프로덕션입니다.
        br
        | 전략과 컨셉을 기반으로 Idea를 창출하며, 어떠한 난제라도 끝까지 책임지고 
        br
        | 디테일한 것 까지 결과물로 승부하는 전문가들의 파워 프로듀싱 프로덕션입니다.
        br
        | 소비자의 마음을 핵심 통찰하여 크리에이티브로 승부하는 캐치업 프로덕션입니다.
    article(class='location')
      h2 location
      img(class='map' src='images/img_map.png' alt='Catch-up Production 위치' width='900px' height='400px')
      .information
        | Catch*up Production 3F, 8-5, Nonhyun-dong, Gangnam-gu, Seoul, Korea, 135-010
        br
        | 서울특별시 강남구 논현동 8-5 3층
        br
        | Tel 822.545.0953 / Fax 822.545.0954


