extends ../layout

block content
  section(class='main')
    article
      p: a(href=''): img(src='images/img_content1.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content2.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content3.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content4.png' width='222px' height='164px')
      p: a(class='clear' href=''): img(src='images/img_content5.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content6.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content7.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content8.png' width='222px' height='164px')
      p: a(class='clear' href=''): img(src='images/img_content9.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content10.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content11.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content12.png' width='222px' height='164px')
      p: a(class='clear' href=''): img(src='images/img_content1.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content2.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content3.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content4.png' width='222px' height='164px')
      p: a(class='clear' href=''): img(src='images/img_content5.png' width='222px' height='164px')
      p: a(href=''): img(src='images/img_content6.png' width='222px' height='164px')
      a(href=''): img(src='images/img_content7.png' width='222px' height='164px')
      a(href=''): img(src='images/img_content8.png' width='222px' height='164px')
      a(class='clear' href=''): img(src='images/img_content9.png' width='222px' height='164px')
      a(href=''): img(src='images/img_content10.png' width='222px' height='164px')
      a(href=''): img(src='images/img_content11.png' width='222px' height='164px')
      a(href=''): img(src='images/img_content12.png' width='222px' height='164px')